<!DOCTYPE html>
<html lang="en">
<head>
	<title>Catalogue</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	{% load staticfiles %}
	{% load keywordfilter %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'catalogue/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'catalogue/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<nav class="navbar navbar-light bg-light justify-content-between">
  	<a class="navbar-brand">Component Catalogue</a>
  		<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search' value={{search_term}}>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
	</nav>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Component Name
							</div>
							<div class="cell">
								Version
							</div>
							<div class="cell">
								Language
							</div>
							<div class="cell">
								Keywords
							</div>
							<div class="cell">
								Download URL
							</div>
						</div>
						{% for c in components %}
						<div class="row">
							<div class="cell" data-title="Component Name">
								{{ c.name }}
							</div>
							<div class="cell" data-title="Version">
								{{ c.version }}
							</div>
							<div class="cell" data-title="Language">
								{{ c.primary_language }}
							</div>
							<div class="cell" data-title="Language">
								<ul>{% with c.keywords|split:" " as keywords %}
									{% for k in keywords %}
  									<li>{{ k }}</li>
  									{% endfor %}
  									{% endwith %}
								</ul>
							</div>
							<div class="cell" data-title="Download URL">
								<a href='{{ c.download_URL }}' style="color:blue">{{ c.name }}</a>
							</div>
						</div>
						{% endfor %}
					</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>